{
    admin off

    frankenphp {
        # Mantiene el script cargado en memoria
        worker public/index.php 4
    }
}

http://:8080 {
    root * public

    # Bloquear acceso a archivos sensibles
    @blocked path *.sqlite *.db /tests/*
    respond @blocked "Access Denied" 403

    php_server
}